.main {
  padding: 2.5% 10%;
  grid-template: repeat(2, auto) / repeat(2, 1fr);
  font-family: "Barlow Condensed";
  box-sizing: border-box;

  .main__title {
    grid-column: 1 / -1;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
  }

  .main__before-title {
    opacity: .5;
  }

  @media screen and (width < 1024px) {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 4rem;

    .main__title {
      grid-column: unset;
      justify-self: start;
    }
  }

  @media screen and (width < 640px) {
    padding: 7% 5%;

    .main__title {
      font-size: 1rem;
      justify-self: center;
    }
  }
}
