.home {
  margin: 5% 10%;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  column-gap: 4%;
  text-transform: uppercase;
  color: var(--blue-300);

  .home__article {
    display: grid;
    gap: 1.5rem;
  }

  .home__title-complement {
    font-size: 1.75rem;
  }

  .home__title {
    font-size: 9rem;
    color: white;
  }

  .home__paragraph {
    text-transform: none;
    font-size: 1.125rem;
    line-height: 180%;
  }

  .home__circle {
    background-color: white;
    color: black;
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 272px;
    aspect-ratio: 1;
    justify-self: end;
    font-size: 2rem;
    color: #0B0D17;
  }

  @media screen and (width < 1024px) {
    grid-template: repeat(2, auto) / auto;
    place-content: center;
    text-align: center;
    justify-items: center;
    row-gap: 1rem;
    place-content: stretch;

    .home__article {
      align-self: stretch;
    }

    .home__circle {
      justify-self: initial;
    }
  }

  @media screen and (width < 640px) {
    margin: 7% 5%;

    .home__title-complement {
      line-height: 132%;
      font-size: 1rem;
    }

    .home__title {
      font-size: 4rem;
    }

    .home__circle {
      width: 144px;
      font-size: 1rem;
      align-self: center;
    }
  }
}
