.destination {
  .destination__img {
    place-content: start center;
    width: 90%;

    > img {
      width: 100%;
      aspect-ratio: 1;
    }
  }

  .destination__text {
    margin: 0 2rem;
  }

  .destination__line {
    opacity: .3;
    width: 100%;
    margin-block: 1rem;
    grid-column: 1 / -1;
  }

  .destination__length {
    display: grid;
    gap: .25rem;
    text-transform: uppercase;

    > :first-child {
      font-size: .875rem;
      color: var(--blue-300);
    }

    > :last-child {
      font-size: 1.75rem;
    }
  }

  @media screen and (width < 1024px) {
    .destination__img {
      width: 50%;
    }

    .destination__text {
      margin: 0;
    }

    .destination__info {
      justify-items: center;
      margin-top: 1rem;
    }

    .destination__length {
      justify-items: center;
    }
  }
}
