#root {
  font-family: "Bellefair";
  width: clamp(320px, 100%, 1280px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  contain: layout;
  isolation: isolate;

  main {
    display: grid;
    flex-grow: 1;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: center / cover no-repeat;
    z-index: -1;
    opacity: .7;
  }

  &:has(.home)::before {
    background-image: url('/home/background-home-desktop.jpg');
  }

  &:has(.destination)::before {
    background-image: url('/destination/background-destination-desktop.jpg');
  }

  &:has(.crew)::before {
    background-image: url('/crew/background-crew-desktop.jpg');
  }

  &:has(.tech)::before {
    background-image: url('/technology/background-technology-desktop.jpg');
  }

  @media screen and (width < 1024px) {
    &:has(.home)::before {
      background-image: url('/home/background-home-tablet.jpg');
    }

    &:has(.destination)::before {
      background-image: url('/destination/background-destination-tablet.jpg');
    }

    &:has(.crew)::before {
      background-image: url('/crew/background-crew-tablet.jpg');
    }

    &:has(.tech)::before {
      background-image: url('/technology/background-technology-tablet.jpg');
    }
  }

  @media screen and (width < 640px) {
    &:has(.home)::before {
      background-image: url('/home/background-home-mobile.jpg');
    }

    &:has(.destination)::before {
      background-image: url('/destination/background-destination-mobile.jpg');
    }

    &:has(.crew)::before {
      background-image: url('/crew/background-crew-mobile.jpg');
    }

    &:has(.tech)::before {
      background-image: url('/technology/background-technology-mobile.jpg');
    }
  }
}
