#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  min-width: 320px;
  position: relative;
  contain: strict;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: center / cover no-repeat;
    z-index: -1;
    opacity: .7;
  }

  &:has(.home)::before {
    background-image: url('/home/background-home-desktop.jpg');
  }

  @media screen and (width < 1024px) {
    &:has(.home)::before {
      background-image: url('/home/background-home-tablet.jpg');
    }
  }

  @media screen and (width < 640px) {
    &:has(.home)::before {
      background-image: url('/home/background-home-mobile.jpg');
    }
  }
}
